@media (min-width:725px) {
    .tab .tab-image {
        display: flex;
        position: relative;
        margin: 24px;
        margin-bottom: 8%;
        margin-top: 13%;
        width: 14vw;
        height: 16vw;
        --background: url("../../../assets/images/imageMask-1.svg");
        background-size: 14vw;
    }
    .f-buttons{
        margin: 0 24px;
    }

    .title{
        flex:1
    }

}

@media (max-width:724px) {
    .tab .tab-image {
        display: flex;
        position: relative;
        margin: 3.8vw;
        margin-bottom: 8%;
        width: 22vw;
        height: 26vw;
        background-size: 22vw;
    }

    .f-buttons{
        margin: 0 3.5vw;
    }
    .title{
        width: 40vw ;
    }


}

.tab {
    position: relative;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 3fr 5fr ;
    grid-template-rows: 9fr 2fr;
}

.expired{
    position: absolute;
    text-transform: uppercase;
    font: bold 10px/16px Quicksand;
    color: #D80000;
    background-color: #FFE4E6;
    border-radius: 2px;
    border: none;
    padding: 0 5px;
}


.intro{
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.favorite{
    z-index:1;
    border: none;
    width: 24px;
    height: 24px;
    background: url("../../../assets/icons/favourite.svg");
    transform: translateY(-9%);
    margin-right: 20px;

}

.favorite:hover{
    cursor: pointer;
    opacity: 0.8;
}

.favorite:disabled{
    filter: invert(50%) brightness(1);
    opacity: 0.5;
}

.title{

    font: 500 16px/20px Quicksand;    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.subject{
    display: flex;
    margin-top: 1vw;
}

.subject > :nth-child(1){
    font: 500 12px/16px Quicksand;
    color: #666666;
}

.subject > :nth-child(2){
    margin: 0 1vw;
    border: 1px solid #cecece56;
}


.subject > :nth-child(3){
    font: 500 12px/16px Quicksand;
    color: #666666;
    margin: 0 2px 0 0;
}

.subject > :nth-child(4){
    font: 500 12px/16px Quicksand;
    color: #1F7A54;
}



.syllabus{
    display: flex;
    margin-top: 1.5vw;
}

.syllabus > :nth-child(1){
    font: 800 12px/16px Quicksand;
    color: #000000;
}

.syllabus > :nth-child(2){
    margin: 0 8px 0 5px;
    font: 500 12px/16px Quicksand;
    color: #666666;
}

.syllabus > :nth-child(3){
    font: 800 12px/16px Quicksand;
    color: #000000;
    margin: 0 2px 0 0;
}

.syllabus > :nth-child(4){
    margin: 0 5px;
    font: 500 12px/16px Quicksand;
    color: #666666;
}

.syllabus > :nth-child(5){
    
    font: 800 12px/16px Quicksand;
    color: #000000;
    margin: 0 2px 0 0;
}

.syllabus > :nth-child(6){
    margin: 0 5px;
    font: 500 12px/16px Quicksand;
    color: #666666;
}


.select{
    outline: none;
    margin-top: 2vw;
    border: none;
    background: none;
    font: 500 16px/20px Quicksand;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
    appearance: none;
    background: url("../../../assets/icons/arrow-down.svg") no-repeat;
    background-position: calc(100%);
}

.select{
    cursor: pointer;
}

.select:disabled{
    cursor:no-drop;
}

.students{
    display: flex;
    margin-top: 1.5vw;
}


.students > :nth-child(1){
    font: 500 12px/16px Quicksand;
    color: #666666;
    margin-right: 1vw;
}

.students > :nth-child(2){
    border: 1px solid #cecece56;
    margin-right: 1vw;
}

.students > :nth-child(3){
    font: 500 12px/16px Quicksand;
    color: #666666;
}   


.f-buttons{

    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.116);
}

.f-buttons > button {
    
    border: none;
    width: 24px;
    height: 20px;
}

.f-buttons > :first-child{
    background: url("../../../assets/icons/preview.svg") no-repeat;
}

.f-buttons > :nth-child(2){
    background: url("../../../assets/icons/manage course.svg") no-repeat;
}

.f-buttons > :nth-child(3){
    background: url("../../../assets/icons/grade submissions.svg") no-repeat;
}
.f-buttons > :nth-child(4){
    background: url("../../../assets/icons/reports.svg") no-repeat;
}



.f-buttons button:hover{
    opacity: 0.9;
    cursor: pointer;
}
.f-buttons button:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}

@media (max-width:480px){

    .tab{
        grid-template-columns: 3fr 5fr ;
        grid-template-rows: 10fr 4fr;
    }
    .f-buttons{
        margin-top: 15px;
    }

    .tab .tab-image {
        display: flex;
        --position: relative;
        margin: 12px;
        margin-top: 14%;
        width: 26vw;
        height: 30vw;
        background-size: 26vw;
    }

    .tab-content{
        margin-left: 0px;
    }

    .navbar2{
        margin:24px 10px;
    }

    .footer{
        justify-content: flex-start;
    }
}

@media(min-width:1600px){
    .tab {
        grid-template-rows: 9fr 1.5fr;
    }
}

.tab{
    height: 100%;
    width: 100%;
}
